body{
    margin: 0;
    background-color: white;
}

/* Navbar styling */ 
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    background: #1C96E8;
}

.logo{
    border-image-width: 2%;
}

.logo img{
    display: block;
}

.nav-links{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-links a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover{
    color: yellow;
}
